html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-width: 320px;
}

.swal2-popup {
  font-family: 'Poppins';
  max-width: 800px;
  width: 80%;
  
  .swal2-title {
    font-size: 1.6rem;
  }

  .contact__title, .booking__title {
    text-align: left;
  }

  button {
    font-family: inherit; 

    &.swal2-confirm {
      border: 2px solid transparent;
      background-color: #135846;
      color: #EBF1EF;
      border-color: #135846;
      &:hover {
        background-color: #fff;
        color: #135846;
        background-image: unset !important;
      }
    }

    &.swal2-deny {
      border: 2px solid transparent;
      background-color: #E23428;
      color: white;
      &:hover {
        color: #E23428;
        border-color: #E23428;
        background-color: white;
        background-image: unset !important;
      }
    }
  }

  .contact__container, .booking__container {

    .contact__container__article, .booking__container__article {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      height: 270px;
      overflow: hidden;
      font-family: 'Poppins';

      .container__article__profile {
        height: 100%;
        min-width: 200px;
        position: relative;
        font-size: 1.4rem;
        font-weight: 400;
        text-align: left;
        
        .container__article__img {
          border-radius: 0.6em;
          width: 100%;
        }

        .container__article__tel {
          font-weight: inherit;
          cursor: text;
          padding-left: 0.4em;
        }

        .container__article__email {
          padding-left: 0.4em;
          font-weight: inherit;
          cursor:text;
          border: none;
          font-size: 1rem;
          width: 100%;
          background-color: transparent;
        }
      }

      .container__article__content {
        text-align: left;
        display: flex;
        flex-wrap: wrap;

        .container__article__content__title {
          margin-bottom: 0.6em;
          font-size: 1rem;
          flex: 1;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding-right: 1em;
        }

        .container__article__content__subtitle {
          color: #B2B2B2;
          font-weight: 600;

          span {
            font-weight: 400;
            padding-right: 0.4em;
            font-style: italic;
          }
        }
  
        .container__article__content__message {       
          text-align: left;
          overflow: auto;
          height: 240px;
          padding: 0em 1em 1em 0em;
  
          &::-webkit-scrollbar {
            width: 12px;
            height: 12px;
          }
          &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 10px;
          }
          &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 10px;
            border: 2px solid #f1f1f1;
          }
          &::-webkit-scrollbar-thumb:hover {
            background: #555;
            cursor: grab;
          }
          &::-webkit-scrollbar-thumb:horizontal {
            border-radius: 10px;
          }
        }
      }
    }
  }

  .contact__container {
    .container__article__content {
      padding: 0em 1em 1em 2em;
    }
  }
  
  .booking__container {
    .container__article__content {
      padding: 0em 1em 1em 0em;
    }
  }
}

