html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-width: 320px;
}

.swal2-popup {
  font-family: 'Poppins';
  max-width: 800px;
  width: 80%;
  
  .swal2-title {
    font-size: 1.6rem;
  }

  .contact__title {
    text-align: left;
  }

  button {
    font-family: inherit; 

    &.swal2-confirm {
      border: 2px solid transparent;
      background-color: #135846;
      color: #EBF1EF;
      border-color: #135846;
      &:hover {
        background-color: #fff;
        color: #135846;
        background-image: unset !important;
      }
    }

    &.swal2-deny {
      border: 2px solid transparent;
      background-color: #E23428;
      color: white;
      &:hover {
        color: #E23428;
        border-color: #E23428;
        background-color: white;
        background-image: unset !important;
      }
    }
  }

  .contact__container {
    
    .contact__container__article {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      height: 12rem;
      overflow: hidden;

      .container__article__section {
        padding: 0em 1em 1em 2em;
        text-align: left;
        display: flex;
        flex-wrap: wrap;

        .container__article__section__title {
          margin-bottom: 0.6em;
          font-size: 1rem;
          flex: 1;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding-right: 1em;
        }

        .container__article__section__subtitle {
          color: #B2B2B2;
          font-weight: 600;
        }
  
        .container__article__section__message {       
          text-align: left;
          overflow: auto;
          height: 9.4rem;
          padding: 0em 1em 1em 0em;
  
          &::-webkit-scrollbar {
            width: 12px;
            height: 12px;
          }
          &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 10px;
          }
          &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 10px;
            border: 2px solid #f1f1f1;
          }
          &::-webkit-scrollbar-thumb:hover {
            background: #555;
            cursor: grab;
          }
          &::-webkit-scrollbar-thumb:horizontal {
            border-radius: 10px;
          }
        }
      }

      .container__article__img {
        height: 100%;
        position: relative;
        border-radius: 0.6em;
      }
    }
  }
}

